// Place all the styles related to the photosearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 10px;
  margin: 10px;
}

.thumbs img{
  padding:2px;
  &:hover {
    background: #ccc;
  }
}

#loading {
  display:none;
}


