%h1 Flickr Search

%p Please enter your search term below

%form{action:'/show', method:'get'}
  %p
    %label Search Term  
    %input{name:'search_term', type:'text', required:'true', page:'1'}

  %p
    %input{type:'submit'}
